extends base

block content
  main.main
    .forgotpassword-form
      h2.heading-secondary.ma-bt-lg Forgot your password
      form.form.form--forgotpassword
        .form__group
          label.form__label(for='email') Email
          input#email.form__input(type='email', placeholder='john@example.com', required)
        .form__group
          button.btn.btn--green Reset Password